<!DOCTYPE html>
<html>
    <head>
        <title>Página Inicial</title>
        <link src="https://ajax.googleapis.com/ajax/libs/jqueremaily/3.1.0/jquery.min.js"> </link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
        <link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></link>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>

<body> 
    <div style="display:block ;align-content: center; height: 15%;margin:auto">
        <label><span onclick="window.location.href='/'" class="fas fa-home" style="cursor: pointer;font-size:2em; color:black;"></span>	
        <img style="margin-left:1em;" src= "/logoufrj" /> 
        <img style="margin-left:5em;height: 5em; width: 25em;" src="/logoestadorj"/>
        <img style="margin-left:6em;" src="/logocorona"/>
        </label>
    <br/>
    </div>
    
    <div  style="padding:15%;background-image: linear-gradient(to bottom right, #A6AFBF, #dce8fe, #A6AFBF); height: 75%;">

        <span onclick="window.location.href='/anamnese'" class="fas fa-clipboard-list" style="font-size:2.25em;cursor: pointer; display: flex; margin-left: 43%; margin-bottom: -1em; color:black;"> &nbsp;&nbsp;<span onclick="window.location.href='/ocorrencias'" style="cursor: pointer;font-size:1em; display: flex; margin-bottom: -1em; color:black;" >Formulário</span></span>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <span onclick="window.location.href='/ocorrencias'" class="fas fa-map"  style="cursor: pointer;font-size:2.25em; display: flex; margin-left: 45%; margin-bottom: -1em; color:black;">&nbsp;&nbsp;<span onclick="window.location.href='/ocorrencias'" style="cursor: pointer;font-size:1em; display: flex;  margin-bottom: -1em; color:black;">Mapa</span></span>


    </div>
    <br/>
    <footer style="color: grey;font-size:medium;padding: 0 3%; height: 20px;">
        <img src="/logonce" style="max-height: 3em;"/>
        <img src="/logocoppe" style="max-height: 2.75em; margin-left: 1%;"/>
        <span style="float:right"><b>Desenvolvido por:</b>
        <img src="/logolab" style="max-height: 2.75em;"/></span>
     </footer>
   
</body>
</html>



