<!DOCTYPE html>
<html>

<head>
    <title>Mapa</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link src="https://ajax.googleapis.com/ajax/libs/jqueremaily/3.1.0/jquery.min.js">
    </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </link>
    <link src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </link>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
        #map {
          height: 100%;
        }
    
        html,
        body {
          height: 100%;
          padding-top: 0.0625em;
        }
    
        .container {
          left: 0.625em;
          max-width: 95%;
          height: 35em;
          border: 0.125em solid #000000;
          padding: 0.125em;
          margin: auto;
        }

        .grpbotao button{
            cursor: pointer; 
            justify-content: center; 
            margin-left:5em; 
            width: 10em;

        }
      </style>
</head>

<body>
    <div style="display:block;align-content: center;margin:auto">
        <label>
            <span onclick="window.location.href='/'" class="fas fa-home" style="cursor: pointer;font-size:2em; color:black;"></span>	
            <img style="margin-left:1em;" src= "/logoufrj" /> 
            <img style="margin-left:5em;height: 5em; width: 25em;" src="/logoestadorj"/>
            <img style="margin-left:6em;" src="/logocorona"/>
        </label>
        <h2 style="color: black; text-align: center;"><b>Mapeamento de ocorrências do Novo Coronavírus (2019-nCoV) no estado do Rio de Janeiro</b></h2> 

    </div>


    <div style="background-image: linear-gradient(to bottom right, #A6AFBF, #dce8fe, #A6AFBF);">
        <br>
        <h4 style="color: black;font-weight:bold;margin-left: 3em;">
        <div style="margin-left: 7em;"><!--Legenda:-->
                &nbsp;<input checked type="radio" name="sitSelecionada" onclick="Restart(this.value)" value="todos">&nbsp;<span>&nbsp;Todos</span>        
                &nbsp; <input type="radio" name="sitSelecionada" onclick="Restart(this.value)" value="Obito"> &nbsp;<span style="width: 10px;background-color: black ;border:1px solid #A6AFBF; padding-right: 1em ;border-radius: 35%;"></span><span>&nbsp;Óbito</span>        
                &nbsp;<input type="radio" name="sitSelecionada" onclick="Restart(this.value)" value="Cura">&nbsp;<span style="width: 10px;background-color: green ;border:1px solid #A6AFBF; padding-right: 1em;border-radius: 35%;"></span><span>&nbsp;Cura</span> 
                &nbsp;<input type="radio" name="sitSelecionada" onclick="Restart(this.value)" value="Sintomatico">&nbsp;<span style="width: 10px;background-color: red ;border:1px solid #A6AFBF; padding-right: 1em;border-radius: 35%;"></span><span>&nbsp;Sintomático</span>   
                &nbsp;<input type="radio" name="sitSelecionada" onclick="Restart(this.value)" value="Ignorado">&nbsp;<span style="width: 10px;background-color: blue ;border:1px solid #A6AFBF; padding-right: 1em;border-radius: 35%;"></span><span>&nbsp;Ignorado</span>
            </div>
            </h4>
        <div class="container">
             <div id="map"></div><br>
                
             <!--
             <div class="grpbotao">
                    <button class="btn btn-info" onclick="Obito()">Óbito</button>
                    <button class="btn btn-info" onclick="Cura()">Cura</button>    
                    <button class="btn btn-info" onclick="Sintomatico()">Sintomático</button>
                    <button class="btn btn-info" onclick="Ignorado()">Ignorado</button>
                    <button class="btn btn-info" onclick="Restart()">Reiniciar</button>
                </div>-->
        </div> 
        <br>
        <br>
        <br>  
        <br>

    <br>
    </div>
        <br/>
        <footer style="color: grey;font-size:medium;padding: 0 3%; height: 20px;">
            <img src="/logonce" style="max-height: 3em;"/>
            <img src="/logocoppe" style="max-height: 2.75em; margin-left: 1%;"/>
            <span style="float:right"><b>Desenvolvido por:</b>
            <img src="/logolab" style="max-height: 2.75em;"/></span>
         </footer>

    <script>


        var gradientRed = [
            'rgba(255, 0, 0, 0)',
            'rgba(255, 0, 0, 0.7)',
            'rgba(255, 0, 0, 0.8)',
            'rgba(255, 0, 0, 0.9)',
            'rgba(255, 0, 0, 1)'
        ]

        var gradientGreen = [
            'rgba(0, 255, 0, 0)',
            'rgba(0, 255, 0, 0.1)',
            'rgba(0, 255, 0, 0.2)',
            'rgba(0, 255, 0, 0.3)',
            'rgba(0, 255, 0, 0.4)',
            'rgba(0, 255, 0, 0.5)',
            'rgba(0, 255, 0, 0.6)',
            'rgba(0, 255, 0, 0.7)',
            'rgba(0, 255, 0, 0.8)',
            'rgba(0, 255, 0, 0.9)',
            'rgba(0, 255, 0, 1)'
        ]

        var gradientBlue = [
            'rgba(0, 0, 255, 0)',
            'rgba(0, 0, 255, 0.1)',
            'rgba(0, 0, 255, 0.2)',
            'rgba(0, 0, 255, 0.3)',
            'rgba(0, 0, 255, 0.4)',
            'rgba(0, 0, 255, 0.5)',
            'rgba(0, 0, 255, 0.6)',
            'rgba(0, 0, 255, 0.7)',
            'rgba(0, 0, 255, 0.8)',
            'rgba(0, 0, 255, 0.9)',
            'rgba(0, 0, 255, 1)'
        ]

        var gradientBlack = [
            'rgba(0, 0 , 0, 0)',
            'rgba(0, 0, 0, 0.1)',
            'rgba(0, 0, 0, 0.2)',
            'rgba(0, 0, 0, 0.3)',
            'rgba(0, 0, 0, 0.4)',
            'rgba(0, 0, 0, 0.5)',
            'rgba(0, 0, 0, 0.6)',
            'rgba(0, 0, 0, 0.7)',
            'rgba(0, 0, 0, 0.8)',
            'rgba(0, 0, 0, 0.9)',
            'rgba(0, 0, 0, 1)'
        ]

        //var geocoder;
        var map;
        var heatmap
        var situacao='todos'

        function initMap() {
            var map = new google.maps.Map(
                document.getElementById("map"), {
                center: new google.maps.LatLng(-22.8576, -43.2004),
                zoom: 10,
            });
            var coordinates = [{}];
            var bounds = new google.maps.LatLngBounds();

            function getEnderecos() {
                return new Promise(function (resolve, reject) {

                    var xhr = new XMLHttpRequest();
                    var url = 'http://' + window.location.host + '/ocorrencias/data' + '?situacao=' + situacao
                    xhr.open("GET", url, true)
                    xhr.onload = function (e) {
                        var enderecos = JSON.parse(xhr.response).data
                        
                        resolve(enderecos)  
                        

                    }
                    xhr.send();
                })
            }
            getEnderecos()
                .then(function (enderecos) {
                    features={Cura:gradientGreen,Obito:gradientBlack,Ignorado:gradientBlue,Sintomatico:gradientRed}
                    Object.keys(enderecos).forEach( (item) => {
                        var addressData = []

                        enderecos[item].forEach( (location) => {
                            lat = location[0]
                            long= location[1]
                            //addressData.push(new google.maps.LatLng(parseFloat(location[0]),parseFloat(location[1]))) 
                            addressData.push(new google.maps.LatLng(lat,long))  
                        })
                        heatmap = new google.maps.visualization.HeatmapLayer({
                                    data: addressData,
                                    radius: 10,
                                    dissipating: true,
                                    opacity:1,
                                    gradient: features[item]
                        })
                        heatmap.setMap(map)
                    })
                    
                })
        }
        
        function Restart(sitSelecionada) {
            situacao=sitSelecionada
            map = new google.maps.Map(
                document.getElementById("map"), {
                center: new google.maps.LatLng(-22.8576, -43.2004),
                zoom: 10,
            })
            initMap()
                
        }



    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy5sPPL58np_vCYP9laO4QbJdH3WT71tc&libraries=places,visualization&callback=initMap">
        </script>
</body>

</html>