<%- contentFor('body') %>

<div class="container home">

	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<a href="/anamnese" class="text-dark">
				<span class="fas fa-clipboard-list">
					Formulário
				</span>
			</a>
		</div>
		<div class="col-4"></div>
	</div>

	<br />
	<br />

	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<a href="/ocorrencias" class="text-dark">
				<span class="fas fa-map">
					Mapa
				</span>
			</a>
		</div>
		<div class="col-4"></div>
	</div>


</div>